<div>
    <h2 id="page-heading">
        <span jhiTranslate="serviciosYaApp.turn.home.title">Turns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-turn" [routerLink]="['/turn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="serviciosYaApp.turn.home.createLabel">
            Create a new Turn
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="turns?.length === 0">
        <span jhiTranslate="serviciosYaApp.turn.home.notFound">No turns found</span>
    </div>
    <div class="table-responsive" *ngIf="turns?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="serviciosYaApp.turn.orderDate">Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workDate"><span jhiTranslate="serviciosYaApp.turn.workDate">Work Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cost"><span jhiTranslate="serviciosYaApp.turn.cost">Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="serviciosYaApp.turn.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="available"><span jhiTranslate="serviciosYaApp.turn.available">Available</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="turnState"><span jhiTranslate="serviciosYaApp.turn.turnState">Turn State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionId"><span jhiTranslate="serviciosYaApp.turn.transaction">Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="locationId"><span jhiTranslate="serviciosYaApp.turn.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="offererId"><span jhiTranslate="serviciosYaApp.turn.offerer">Offerer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personId"><span jhiTranslate="serviciosYaApp.turn.person">Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turn of turns ;trackBy: trackId">
                <td><a [routerLink]="['/turn', turn.id, 'view' ]">{{turn.id}}</a></td>
                <td>{{turn.orderDate | date:'medium'}}</td>
                <td>{{turn.workDate | date:'medium'}}</td>
                <td>{{turn.cost}}</td>
                <td>{{turn.description}}</td>
                <td>{{turn.available}}</td>
                <td jhiTranslate="{{'serviciosYaApp.TurnState.' + turn.turnState}}">{{turn.turnState}}</td>
                <td>
                    <div *ngIf="turn.transactionId">
                        <a [routerLink]="['/transaction', turn.transactionId , 'view' ]" >{{turn.transactionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turn.locationId">
                        <a [routerLink]="['/location', turn.locationId , 'view' ]" >{{turn.locationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turn.offererId">
                        <a [routerLink]="['/offerer', turn.offererId , 'view' ]" >{{turn.offererId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turn.personId">
                        <a [routerLink]="['/person', turn.personId , 'view' ]" >{{turn.personId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/turn', turn.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/turn', turn.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/turn', { outlets: { popup: turn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="turns?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
