<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comment-heading" jhiTranslate="serviciosYaApp.comment.home.createOrEditLabel">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.comment.qualification" for="field_qualification">Qualification</label>
                    <input type="number" class="form-control" name="qualification" id="field_qualification"
                           formControlName="qualification"/>
                    <div *ngIf="editForm.get('qualification').invalid && (editForm.get('qualification').dirty || editForm.get('qualification').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('qualification').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('qualification').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('qualification').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('qualification')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.comment.commentary" for="field_commentary">Commentary</label>
                    <input type="text" class="form-control" name="commentary" id="field_commentary"
                           formControlName="commentary"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.comment.offerer" for="field_offerer">Offerer</label>
                    <select class="form-control" id="field_offerer" name="offerer" formControlName="offererId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offererOption.id" *ngFor="let offererOption of offerers; trackBy: trackOffererById">{{offererOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.comment.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
