<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offerer-heading" jhiTranslate="serviciosYaApp.offerer.home.createOrEditLabel">Create or edit a Offerer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.offerer.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{'serviciosYaApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'serviciosYaApp.Gender.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'serviciosYaApp.Gender.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('gender').invalid && (editForm.get('gender').dirty || editForm.get('gender').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.offerer.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                    <div *ngIf="editForm.get('phoneNumber').invalid && (editForm.get('phoneNumber').dirty || editForm.get('phoneNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('phoneNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.offerer.birthday" for="field_birthday">Birthday</label>
                    <div class="d-flex">
                        <input id="field_birthday" type="datetime-local" class="form-control" name="birthday" formControlName="birthday" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('birthday').invalid && (editForm.get('birthday').dirty || editForm.get('birthday').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthday').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('birthday').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.offerer.reputation" for="field_reputation">Reputation</label>
                    <input type="number" class="form-control" name="reputation" id="field_reputation"
                           formControlName="reputation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="serviciosYaApp.offerer.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="locationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.streetAddress}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
